@import './config-scss/reset.scss';
@import './config-scss/variables.scss';
@import './config-scss/rem-calc.scss';
@import './config-scss/animations.scss';

html{
    background: var(--primary-color);
    font-family: 'Roboto', sans-serif;
}

main{
    max-width: rem-calc(600);
    margin: 0 auto;
    box-sizing: border-box;
}